!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
# Ignore all .tsbuildinfo files
*.tsbuildinfo
# Ignore all .d.ts files
*.d.ts
# Ignore all .d.mts files
*.d.mts
# Ignore all .d.cts files
*.d.cts                                                         