.css-dep-sass {
  color: orange;
}       
.css-dep-sass:hover {
  color: purple;
}              
.css-dep-sass-2 {
  color: green;
}
.css-dep-sass-2:hover {
  color: yellow;
}
.css-dep-sass-3 {       
  color: pink;
}
.css-dep-sass-3:hover {
  color: purple;
}     